.itemDetail{
    border: 2px solid #fdba31;
    box-shadow: 2px 2px 2px 1px #37007536;
    display: flex;
    padding: 10px;
    margin: 20px auto;
    width: 800px;
}

.itemDetails{
    width: 300px;
    text-align: center;
}
.itemDetail__img{
    max-height: 400px;
}

.agregar{
    display: block;
    width: 100%;
    color: #370075;
    background-color: #fdba31;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.itemDetail__precio{
    font-size: 30px;
    font-weight: 500;
}

.itemDetail__serial{
    font-size: 15px;
}

.itemDetail a{
    display: flex;
    justify-content: center;
    width: 50%;
    color: #370075;
    
    border: 2px solid #fdba31 ;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}
.itemDetail a:hover{
    background-color: #fdba31;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}