.producto{
    display: inline-block;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.Corona{
    width: 200px;
}

.botonAccion{
    width: 40px;    
    height: 40px;
    color: #370075;
    background-color: #fdba31;
    border: none;
    margin: 10px;
    padding: 10px;
}

.agregar{
    display: block;
    width: 100%;
    color: #370075;
    background-color: #fdba31;
    border: none;
    padding: 10px;
}